Flask
bcrypt
Jinja2
PyJWT
pymongo
python-dotenv
openai
torch
tavily-python
transformers
accelerate
safetensors
invisible_watermark
peft
diffusers
langchain
langchain-openai
langchain-community
tiktoken
sentence_transformers
unstructured
pypdf
google-search-results
faiss-cpu